<div id="author_form">
  <div class="container">
    <h1>
      <%-title%>
    </h1>
    <form method="post" action="">
      <div class="form-group">
        <label for="first_name">First Name: </label>
        <input name="first_name" type="text" class="form-control" id="first_name" placeholder="First name (Christian)" value=<%=(!author) ? '' : author.first_name%>>
      </div>
      <div class="form-group">
        <label for="family_name">Family Name: </label>
        <input name="family_name" type="text" class="form-control" id="family_name" placeholder="Family name (surname)" required='true' value=<%=(!author) ? '' : author.family_name%>>
      </div>
      <div class="form-group">
        <label for="date_of_birth">Date of birth: </label>
        <input name="date_of_birth" type="date" class="form-control" id="date_of_birth" placeholder="YYYY-MM-DD" required='true' value=<%=(!author) ? '' : author.date_of_birth%>>
      </div>
      <div class="form-group">
        <label for="date_of_death">Date of death: </label>
        <input name="date_of_death" type="date" class="form-control" id="date_of_death" placeholder="YYYY-MM-DD" required='false' value=<%=(!author) ? '' : author.date_of_death%>>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <% if (errors){%>
    <ul>
      <% for (var i = 0; i < errors.length; i++) {%>
      <li>
        <%-errors[i].msg%>
      </li>
      <%}%>
    </ul>
    <%}%>
  </div>
</div>